@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{

--bright-orange: hsl(31, 77%, 52%);
--dark-cyan: hsl(184, 100%, 22%);
--very-dark-cyan: hsl(179, 100%, 13%);
--transparent-white: hsla(0, 0%, 100%, 0.75);
--very-light-gray: hsl(0, 0%, 95%);
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: 'Big Shoulders Display', cursive;
}

body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p, button{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

h1{
    color: var(--very-light-gray);
    margin-bottom: 2rem;
}

p{
    color: var(--transparent-white);
    margin-bottom: 3rem;
    line-height: 1.5rem;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 900px;
    border-radius: 0.75rem;
    overflow: hidden;
}

.column{
   padding: 3rem;
   height: 100%;
   display: grid;
}

img{
    margin-bottom: 2rem;
}

.sedans{
    background-color: var(--bright-orange);
}

.suv{
    background-color: var(--dark-cyan);
}

.luxury{
    background-color: var(--very-dark-cyan);
}

button{
    border-radius: 30px;
    border: 0;
    padding: 1.25rem 2rem;
    margin-top: 2rem;
    background-color: var(--very-light-gray);
    cursor: pointer;
}

button:hover{
    background: transparent;
    border: 2px solid var(--very-light-gray);
    padding: 1.10rem 2rem;
    color: var(--very-light-gray);
}

.sedan-but{
    color: var(--bright-orange);
}

.suv-but{
    color: var(--dark-cyan);
}

.suv-but{
    color: var(--very-dark-cyan);
}

@media screen and (max-width: 980px) {
    main{
        grid-template-columns: 1fr;
        width: 400px;
    }
    p{
        margin-bottom: 0rem;
    }
}